<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dj meta</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
    <!--        <tr><th><label for="id_name">Name:</label></th><td><input type="text" name="name" required id="id_name" /></td></tr>
    <tr><th><label for="id_age">Age:</label></th><td><input type="number" name="age" required id="id_age" /></td></tr>     -->
        </table>
        <input type="submit" value="Send">
    </form>
</body>
</html>