<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dj meta</title>
    <style>
        .myfield {
            border: 1px solid #ccc;
            border-radius: 5px;
            height: 25px;
            width: 200px;
            margin: 10px 10px 10px 0;
        }
    </style>
</head>
<body>
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>write name</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>write age</label><br>
            <input type="number" name="age" />
        </p>
        <input type="submit" value="Save" >
    </form>
    {% if people.count > 0 %}
    <h2>list user</h2>
    <table>
        <thead><th>Id</th><th>Name</th><th>Age</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td><a href="edit/{{ person.id }}">Change</a> | <a href="delete/{{ person.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>